dotenv
export LINE_CHANNEL_ACCESS_TOKEN='export LINE_CHANNEL_ACCESS_TOKEN="$(  pbpaste \  | tr -d '\r' \  | LC_ALL=C tr -cd '\40-\176' \  | sed -e 's/^[[:space:]]*//' -e 's/[[:space:]]*$//')"'
export LINE_CHANNEL_ACCESS_TOKEN='export LINE_CHANNEL_ACCESS_TOKEN="$(  pbpaste | tr -d '\r' | LC_ALL=C tr -cd '\40-\176' | sed -e 's/^[[:space:]]*//' -e 's/[[:space:]]*$//')"'
export LINE_CHANNEL_ACCESS_TOKEN='FMzhidQNMMK8nV5RD4OQEeQ7FWBE5WkdgormDvAgga1rVDLf1VxjSfwcRZTWVK8bBBXt6qFdYwIa7Qc4YiazcuvPud5f5yFTG3hbElKGAcK1ijkhaN957yfI/40A5w89XctfADZBiEoQAPmmXs4JegdB04t89/1O/w1cDnyilFU='
